#navbar-example2 {
  background-color: green !important;
}
.navbar-brand {
  background-color: var(--border-color);
  padding: 0 20px;
  border-radius: 0.375rem;
}
.nav-pills a {
  color: var(--border-color);
}
#hero-bg {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 250px;
  margin-top: -20px;
}
#hero-bg > div > h6 {
  background-color: bisque;
  padding: 5px;
  border-bottom: solid 3px var(--border-color);
  position: absolute;
  display: inline;
  top: 180px;
  right: 8%;
}
:root {
  --letter-color: rgb(12, 74, 12);
  --border-color: greenyellow;
  --image-height: 180px;
}

.seo {
  background-image: url("../images/search-engine-optimization.jpg");
  background-size: cover;
  height: 250px;
  margin-bottom: 10px;
}
.nameOfProject {
  background-color: bisque;
  padding: 5px;
  border-bottom: solid 3px greenyellow;
  position: relative;
  display: inline-block;
  bottom: -100px;
  opacity: 0.8;
  color: var(--letter-color);
}
.codeWars-image {
  background-image: url(../images/codewars.png);
  background-size: cover;
  height: var(--image-height);
}
.calculator-image {
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  height: var(--image-height);
}
.codeWars,
.calculator,
.puzzels,
.run {
  background-color: bisque;
  padding: 5px;
  border-bottom: solid 3px var(--border-color);
  position: relative;
  display: inline-block;
  bottom: -60px;
  opacity: 0.8;
  margin-left: -12px;
  color: var(--letter-color);
}
.puzzels-image {
  background-image: url(../images/Screenshot\ 2023-11-06\ at\ 10.30.23.png);
  background-size: cover;
  height: var(--image-height);
}
.run-image {
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  height: var(--image-height);
  color: var(--letter-color);
}
.row ul li a {
  color: var(--letter-color) !important;
  border-bottom: solid 3px var(--letter-color);
}
.seo:hover,
.codeWars-image:hover,
.calculator-image:hover,
.puzzels-image:hover,
.run-image:hover,
.row ul li a:hover,
.nav-pills a:hover {
  border: solid 3px var(--border-color) !important;
  transform: scale(1.02) !important;
  box-shadow: 10px 10px 30px var(--border-color);
}
.nav-pills a:hover {
    color: var(--border-color);
}
.footer {
    margin-top: 20px;
}
.card {
    margin-bottom: 20px !important;
}
.border-4 {
    border-color: var(--letter-color) !important;
}
.btn:hover {
    background-color: bisque;
    color: var(--letter-color);
    border-radius: 0.375rem;
}
.nav-link.active, .btn {
  background-color: var(--border-color) !important;
  color: black !important;
  border-radius: 0.375rem;

}
/* .btn {
  background-color: var(--border-color) !important;
  color: black !important;
  border-radius: 0.375rem;

} */